<!DOCTYPE html>
<html lang="en" ng-app="testTask">
<head>
    <meta charset="UTF-8">
    <title>OUR Clothing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.4/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>
<header>
    <a href="index.html">
        <img id="logo"
             src="img/logo.png"
             alt="logo">
    </a>
    <nav>
        <a href="index.html">Home</a>
        <a href="#catalog">Products</a>
    </nav>

    <h1>Our clothing, your comfort</h1>
    <p>Зона комфорта — область жизненного пространства, в которой человек чувствует себя уверенно и безопасно.</p>
    <a href="#catalog"> <img id="arrow" src="img/down-arrow.png" alt="arrow"></a>
</header>
<main>
    <div id="catalog" ng-controller="productsCtrl">
        <div class="navForProducts">

            <label>Men<input type="checkbox" ng-model="showCategory.men" ng-click="stopForsing()"></label>
            <label>Women<input type="checkbox" ng-model="showCategory.women" ng-click="stopForsing()"></label>
            <label>Child<input type="checkbox" ng-model="showCategory.child" ng-click="stopForsing()"></label>

            <button class="seeAllProducts" ng-click="startForsing()">SEE ALL PRODUCTS</button>

        </div>
        <div>
            <ul id="products">
                <li ng-repeat="item in data.items" ng-show="showItemOrNot(item)">
                    <select>
                        <option ng-repeat="size in item.options">{{size}}</option>
                    </select>
                    <figure>
                        <img id="item" ng-src="img/{{item.img}}.png">
                        <figcaption>
                            <p class="itemName">{{item.name}}</p>
                            <p class="itemPrice">{{item.price}}&#8364;</p>
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer ng-controller="menuCtrl">
    <div class="social"><img id="twitter" src="img/twitter.png"><img id="vk" src="img/vk.png"><img id="facebook"
                                                                                                   src="img/facebook.png">
    </div>
    <div class="footerInfo">
        <div class="footerInfoLeft">
            <h5>Способы оплаты</h5>
            <p>Вы можете оплатить покупки наличными при получении, либо выбрать другой способ оплаты.</p>
        </div>
        <div class="footerInfoRight">
            <ul id="footerLink">
                <li ng-repeat="menu in data.footerMenu"><a href="{{menu.link}}" title="{{menu.title}}">{{menu.name |
                    uppercase}} </a> |
                </li>
            </ul>

        </div>
    </div>

</footer>
</body>
</html>